@import "tailwindcss";



body {
  background: #131313;
  color: #E0E0E0;
  max-width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}



/* animacao do alogo */

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

