@import "tailwindcss";



body {
  background: #121212;
  color: #E0E0E0;
  max-width: 1500px;
  margin: 0 auto;
}



/* animacao do alogo */

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }
  51%, 100% {
    opacity: 0;
  }
}

.blink {
  animation: blink 1s infinite;
}

@media (min-width: 768px) and (max-width: 1024px) {


  h1{
    font-size: 5.4rem;
    line-height: 5.5rem;

  }


  .imagem{
    margin-top: 2rem;
    margin-left: 4rem;
    width: 27rem;
    height: 30rem;
  }

  .navigation{
    margin-top: 40rem;
  
  }

}


